bs4==0.0.2
chainlit==0.7.700
cohere==5.8.1
datasets==3.0.0
langchain==0.2.12
langchain-community==0.2.11
langchain-core==0.2.41
langchain-huggingface==0.0.3
langchain-openai==0.1.25
langchain-qdrant==0.1.4
langchain-text-splitters==0.2.2
pandas==2.2.3
pdfplumber==0.11.4
pydantic==2.8.2
pymupdf4llm==0.0.17
python-dotenv==1.0.1
python-engineio==4.9.1
python-socketio==5.11.3
qdrant_client==1.11.1
sentence_transformers==3.2.0
threadpoolctl==3.5.0
tiktoken==0.7.0
torch==2.4.0
tqdm==4.66.5
urllib3==2.2.2
websockets==12.0
